$grey: WhiteSmoke;
$darkerGrey: Silver;

.new-tweet {
  display: none;
  background-color: $grey;
  border: 1px $darkerGrey;
  margin: 0 2em 2em 2em;
  padding: 1px 10px 10px 10px;
  border-radius: 7px;
  
  h2 {
    width: 100%;
    border-bottom: 2px solid black;
  }
  
  textarea {
    width: 100%;
    padding-top: 5px;
  }
  
  input {
    margin-left: 0;
    background-color: rgb(241, 238, 238);
  }
}

.counter {
  float: right;
  font-style: italic;
  font-size: .8em;
  margin: 8px 5px;
}

.red {
  color: rgba(211, 28, 28, 0.966);
}

.empty-tweet {
  display: none;
  background-color: rgba(199, 78, 78, 0.966);  
  color: white;
  margin: 0 2em 1em 2em;
  padding: 10px;
  border-radius: 5px;
}

.long-tweet {
  display: none;
  background-color: rgba(199, 78, 78, 0.966); 
  color: white; 
  margin: 0 2em 1em 2em;
  padding: 10px;
  border-radius: 5px;
}

