html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  font-family: 'Nunito', sans-serif; }

nav {
  position: fixed;
  z-index: 400;
  background-color: #51a9ff;
  width: 100%;
  height: 80px; }
  nav .logo {
    float: left;
    margin-left: 8em;
    width: 80px;
    height: 80px; }
  nav .header {
    color: #e8fdff;
    float: left;
    margin-right: 2em;
    margin-left: 10px;
    font-size: 2em;
    line-height: 80px; }
  nav ul {
    -webkit-appearance: none;
    margin: 1.5em 0; }
    nav ul li {
      display: inline-block;
      list-style: none; }
    nav ul a {
      color: MediumSlateBlue;
      background-color: #f3f2fd;
      border: 1px solid black;
      border-radius: 5px;
      font-size: 1.5em;
      text-decoration: none;
      margin-left: 15em;
      margin-top: 2em;
      padding: .5em; }
      nav ul a:hover {
        background-color: white; }

.new-tweet {
  display: none;
  background-color: WhiteSmoke;
  border: 1px Silver;
  margin: 0 2em 2em 2em;
  padding: 1px 10px 10px 10px;
  border-radius: 7px; }
  .new-tweet h2 {
    width: 100%;
    border-bottom: 2px solid black; }
  .new-tweet textarea {
    width: 100%;
    padding-top: 5px; }
  .new-tweet input {
    margin-left: 0;
    background-color: #f1eeee; }

.counter {
  float: right;
  font-style: italic;
  font-size: .8em;
  margin: 8px 5px; }

.red {
  color: rgba(211, 28, 28, 0.966); }

.empty-tweet {
  display: none;
  background-color: rgba(199, 78, 78, 0.966);
  color: white;
  margin: 0 2em 1em 2em;
  padding: 10px;
  border-radius: 5px; }

.long-tweet {
  display: none;
  background-color: rgba(199, 78, 78, 0.966);
  color: white;
  margin: 0 2em 1em 2em;
  padding: 10px;
  border-radius: 5px; }

.new-tweet {
  display: none;
  background-color: WhiteSmoke;
  border: 1px Silver;
  margin: 0 2em 2em 2em;
  padding: 1px 10px 10px 10px;
  border-radius: 7px; }
  .new-tweet h2 {
    width: 100%;
    border-bottom: 2px solid black; }
  .new-tweet textarea {
    width: 100%;
    padding-top: 5px; }
  .new-tweet input {
    margin-left: 0;
    background-color: #f1eeee; }

.counter {
  float: right;
  font-style: italic;
  font-size: .8em;
  margin: 8px 5px; }

.red {
  color: rgba(211, 28, 28, 0.966); }

.empty-tweet {
  display: none;
  background-color: rgba(199, 78, 78, 0.966);
  color: white;
  margin: 0 2em 1em 2em;
  padding: 10px;
  border-radius: 5px; }

.long-tweet {
  display: none;
  background-color: rgba(199, 78, 78, 0.966);
  color: white;
  margin: 0 2em 1em 2em;
  padding: 10px;
  border-radius: 5px; }

.tweets {
  display: grid;
  grid-gap: 2em;
  margin: 0 2em 2em 2em; }

.tweet {
  border: 1px solid Silver;
  border-radius: 7px;
  opacity: 0.6; }
  .tweet:hover {
    opacity: 1; }
  .tweet header {
    background-color: WhiteSmoke;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr; }
    .tweet header img {
      grid-column-start: 1;
      margin: 10px;
      border-radius: 4px; }
    .tweet header h2 {
      grid-column-start: 2;
      margin-top: .5em; }
    .tweet header .handle {
      grid-column-start: 3;
      margin-top: 1.5em;
      margin-left: 1em;
      border-bottom: none; }
  .tweet p {
    width: 100%;
    border-bottom: 1px solid #e9e6e6;
    padding: 0px 10px 10px 10px; }
  .tweet footer {
    padding: 0 10px 12px 10px;
    font-size: .7em; }

body {
  margin: 0;
  color: #244751;
  background-color: #eee; }

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; }

main {
  background-color: white;
  padding-top: 110px;
  grid-column-start: 2; }

.copyright {
  text-align: center; }

/*# sourceMappingURL=layout.css.map */
