nav {
  position: fixed;
  z-index: 400;
  background-color: #00a087;
  width: 100%;
  height: 80px;
}

nav .logo {
  float: left;
  margin-left: 8em;
  width: 80px;
  height: 80px;
}

nav .header {
  color: #e8fdff;
  float: left;
  margin-right: 2em;
  margin-left: 10px;
  font-size: 2em;
  line-height: 80px;
}

nav ul {
  -webkit-appearance: none;
  margin: 1.5em 0;
}

nav li {
  display: inline-block;
  list-style: none;
}

nav a {
  background-color: #ccf4f8;
  color: rgb(46, 46, 117);
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.5em;
  text-decoration: none;
  margin-left: 15em;
  margin-top: 2em;
  padding: .5em;
}

nav a:hover {
  background-color: white;
  color: black;
}