.new-tweet {
  display: none;
  background-color: rgb(241, 238, 238);
  border: 1px solid rgb(212, 210, 210);
  margin: 0 2em 2em 2em;
  padding: 0px 10px 10px 10px;
  border-radius: 7px;
}

.new-tweet h2 {
  width: 100%;
  border-bottom: 2px solid black;
}

.new-tweet textarea {
  width: 100%;
  padding-top: 5px;
}

.new-tweet input {
  margin-left: 0;
  background-color: rgb(241, 238, 238);
}

.counter {
  float: right;
  font-style: italic;
  font-size: .8em;
  margin: 8px 5px;
}

.red {
  color: rgba(211, 28, 28, 0.966);
}

.empty-tweet {
  display: none;
  background-color: rgba(199, 78, 78, 0.966);  
  color: white;
  margin: 0 2em 1em 2em;
  padding: 10px;
  border-radius: 5px;
}

.long-tweet {
  display: none;
  background-color: rgba(199, 78, 78, 0.966); 
  color: white; 
  margin: 0 2em 1em 2em;
  padding: 10px;
  border-radius: 5px;
}

